<div class="col-xs-12 col-lg-6 col-divided">
  <table class="table table-condensed table-hover table-retiso">
    <thead>
    <tr>
      <th>Poziom</th>
      <th>Zakupy grupy</th>
      <th ng-if="model.bonus>0 && model.tip>0">Premia</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="level in levels track by $index" class="{{level.class}}" >
        <td>{{$index+1}}</td>
        <td>
          {{level.basket|currency:'PLN'}}
        </td>
        <td ng-if="level.bonus>0">{{level.bonus| currency:'PLN'}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-xs-12 col-lg-5 col-lg-offset-1">
  <canvas id="levelsPie" class="chart chart-pie" data="levelsPieData" labels="levelsPieLabels" options="levelsPieOptions" colours="levelsPieColors"></canvas>
  <div class="bonus-container container-margin">
    <span ng-bind-html="levelText">
    </span>
  </div>
</div>
<div class="col-xs-12">
  <div class="bonus-container">
    <h3>
      {{level2Text}}
    </h3>
  </div>
</div>
