.table-retiso{
  th,td{
    text-align: right;
  }
  .retiso-yellow{
    td{
      background-color: $brand-retiso;
      border-top-color: darken($brand-retiso,20);
    }
    &:hover{
      td{
        background-color: lighten($brand-retiso,20);
      }
    }
  }
}

