$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

$brand-retiso:#FDBB04;
$brand-retiso-blue:#68D4D9;
$brand-retiso-dark-blue:$brand-primary;

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
@import 'ionSlider/ionSlider.scss';
@import 'levels/levels.scss';
@import 'modal/modal.scss';
// endinjector
