#page{
  padding-top: 20px;
}
.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.slider-row .slider-input{
  margin-top: 40px;
}

.instructions-container{
  border-right:1px solid #E5E5E5;
  h1{
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 10px;
  }
}

.bonus-container {
  padding: 20px;
  background-color: $brand-retiso-dark-blue;
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: center;
  color:#fff;
  small{
    color:#fff;
  }
}

.container-margin{
  margin-top: 15px;
}

.vertical-line{
  margin: 10px 0;
}

.level-spacing{
  & > td{
    padding-bottom: 20px!important;
  }
  &:hover > td{
    background: none!important;
  }
}
@media (min-width: $screen-desktop) {
  .slider-row-margin{
    margin-bottom: 40px;
  }

  .tour-button{
    text-align: center;
    margin-top: 35px;
  }
  .slider-input > input[type="number"]{
    padding-right: 0;
  }
}

.popover{
  max-width: 340px;
}

.row-info{
  margin-top:20px;
  margin-bottom: 10px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row-instructions{
  margin-top:10px;
  position: relative;
}

.hide-btn{
  background-color: $state-danger-text;
  color: #fff;
  padding: 5px;
  position: absolute;
  top:0;
  right:0;
  outline: none;
  border: none;
  z-index: 1000;
}

.list-retiso li{
  list-style-type: none;
}
