<!--<div ng-include="'components/navbar/navbar.html'"></div>-->

<div class="container" tour backdrop="true" template="tourTemplate" id="page">
  <div class="row">
    <div class="col-xs-12 col-lg-4">
      <img src="/assets/images/logo.png" class="img-responsive" alt="Retiso">
    </div>
    <div class="col-xs-12 col-lg-8">
      <h1>Kalkulator Premii Rekomendacyjnej Retiso</h1>
    </div>
  </div>
  <div ng-if="informationsRow" class="row bg-primary row-info">
    <button type="button" class="hide-btn" aria-label="Ukryj panel" title="Ukryj panel" ng-click="hideRow('informationsRow')"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
      <div class="col-xs-12">
        <span>Wyliczenia prezentowane w kalkulatorze oparte są na za założeniach, że średnia wartość zakupów dokonanych przez wszystkich klientów struktury w sklepach reklamowanych poprzez Pasaż Handlowy jest równa kwocie ustawionej w polu “Zakupy razem”, wartość procentowa Premii Rekomendacyjnej dla tych zakupów odpowiada wartości ustawionej w polu “Premia” oraz każdy z klientów struktury skutecznie zarekomendował Program Retiso liczbie osób ustawionej na suwaku ”Rekomendacje bezpośrednie”.
Wyliczona kwota miesięcznej Premii Rekomendacyjnej jest wyłącznie symulacją opartą na powyższych założeniach i nie stanowi gwarancji uzyskiwania Premii o podanej wartości.</span>
      </div>
  </div>
  <div ng-if="instructionsRow" class="row row-instructions">
    <button type="button" class="hide-btn" aria-label="Ukryj panel" title="Ukryj panel" ng-click="hideRow('instructionsRow')"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
    <div class="col-xs-12 col-lg-10">
      <h2>Instrukcja</h2>
      <ol>
        <li>Ustaw łączna kwotę swoich zakupów miesięcznych w polu "Zakupy razem" lub wylicz ją na kalkulatorze suwakowym.</li>
        <li>Podaj jaki procent zakupów możesz robić w sklepach promowanych poprzez Pasaż Handlowy.</li>
        <li>
          Na suwaku "Rekomendacja bezpośrednia" ustaw liczbę osób, którym możesz skutecznie<span class="text-primary">*</span> zarekomendować Program.
          <ul class="list-retiso">
            <li><span class="text-primary">*</span> Skuteczna rekomendacja - osoba zaproszona kupuje i poleca Program kolejnym osobom podobnie jak robisz to Ty. </li>
          </ul>
        </li>
        <li>Suwakiem “Uprawnienia do premii z ... poziomów” ustaw poziomy z jakich jesteś w stanie otrzymywać premie, sprawdź ich możliwą
          wartość oraz jakie maksymalne korzyści możesz odnosić z tak zbudowanej struktury klientów.  </li>
      </ol>
    </div>
    <div class="div col-xs-12 col-lg-2 tour-button text-right">
      <button class="btn btn-primary" ng-if="tourEnabled" ng-click="tour.restart(true)">Interaktywna instrukcja</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr class="vertical-line"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-7">
      <div class="row" tour-step order="0" title="" content="" placement="bottom" >
        <div class="col-xs-12 col-lg-6">
          <div class="row slider-row slider-row-margin ">
            <div class="col-xs-12 col-lg-7">
              <form>
                <div class="form-group ion-red" >
                  <label for="grocery">Artykuły spożywcze</label>
                  <ionslider ng-model="model.grocery" options="groceryOptions"></ionslider>
                </div>
              </form>
            </div>
            <div class="col-xs-12 col-lg-5">
              <div class="form-group">
                <div class="input-group slider-input">
                  <input id="grocery" type="number" min="{{groceryOptions.min}}" max="{{groceryOptions.max}}" step="{{groceryOptions.step}}" class="form-control pull-right" ng-model="model.grocery"/>
                  <div class="input-group-addon">PLN</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6" >
          <div class="row slider-row slider-row-margin">
            <div class="col-xs-12 col-lg-7">
              <form>
                <div class="form-group ion-green">
                  <label for="fuel">Paliwo</label>
                  <ionslider ng-model="model.fuel" options="fuelOptions"></ionslider>
                </div>
              </form>
            </div>
            <div class="col-xs-12 col-lg-5">
              <div class="form-group">
                <div class="input-group slider-input">
                  <input id="fuel" type="number" min="{{fuelOptions.min}}" max="{{fuelOptions.max}}" step="{{fuelOptions.step}}" class="form-control pull-right" ng-model="model.fuel"/>
                  <div class="input-group-addon">PLN</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="row slider-row slider-row-margin">
            <div class="col-xs-12 col-lg-7">
              <form>
                <div class="form-group ion-yellow">
                  <label for="clothes">Art. chemiczne, odzież</label>
                  <ionslider ng-model="model.clothes" options="clothesOptions"></ionslider>
                </div>
              </form>
            </div>
            <div class="col-xs-12 col-lg-5">
              <div class="form-group">
                <div class="input-group slider-input">
                  <input id="clothes" type="number" min="{{clothesOptions.min}}" max="{{clothesOptions.max}}" step="{{clothesOptions.step}}" class="form-control pull-right" ng-model="model.clothes"/>
                  <div class="input-group-addon">PLN</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="row slider-row slider-row-margin">
            <div class="col-xs-12 col-lg-7">
              <form>
                <div class="form-group ion-blue">
                  <label for="other">Inne</label>
                  <ionslider ng-model="model.other" options="otherOptions"></ionslider>
                </div>
              </form>
            </div>
            <div class="col-xs-12 col-lg-5">
              <div class="form-group">
                <div class="input-group slider-input">
                  <input id="other" type="number" min="{{otherOptions.min}}" max="{{otherOptions.max}}" step="{{otherOptions.step}}" class="form-control pull-right" ng-model="model.other"/>
                  <div class="input-group-addon">PLN</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row slider-row" tour-step order="1" title="" content="" placement="bottom">
            <div class="col-xs-12 col-lg-9">
              <form>
                <div class="form-group ion-red">
                  <label for="total">Pasaż Handlowy</label>
                  <ionslider ng-model="model.retiso" options="retisoOptions"></ionslider>
                </div>
              </form>
            </div>
            <div class="col-xs-12 col-lg-3">
              <div class="form-group">
                <div class="input-group slider-input">
                  <input id="retiso" type="number" min="{{retisoOptions.min}}" max="{{retisoOptions.max}}" step="{{retisoOptions.step}}" class="form-control pull-right" ng-model="model.retiso"/>
                  <div class="input-group-addon">%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="row slider-row">
            <div class="col-xs-12 col-lg-9">
              <form>
                <div class="form-group ion-red">
                  <label for="total">Zakupy razem</label>
                  <ionslider ng-model="model.total" options="totalOptions"></ionslider>
                </div>
              </form>
            </div>
            <div class="col-xs-12 col-lg-3">
              <div class="form-group">
                <div class="input-group slider-input">
                  <input id="total" type="number" min="{{totalOptions.min}}" max="{{totalOptions.max}}" step="{{totalOptions.step}}" class="form-control pull-right" ng-model="model.total"/>
                  <div class="input-group-addon">PLN</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-5">
      <div class="row">
        <div class="col-xs-12">
          <canvas id="pie" class="chart chart-pie" data="data" labels="labels" legend="true" options="pieOptions" colours="pieColors"></canvas>
        </div>
        <div class="col-xs-12">
          <div class="bonus-container">
            <div><h4>Twój roczny Bonus Zakupowy {{yearBonus|currency:''}} PLN <br/><small>(dla średniej wartości {{retisoConstant*100|number:2}}% Bonusu Zakupowego)</small></h4></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr class="vertical-line"/>
    </div>
  </div>
  <div class="row slider-row">
    <div class="col-xs-12 col-lg-6">
      <div class="row slider-row" tour-step order="3" title="" content="" placement="bottom" >
        <div class="col-xs-12 col-lg-12">
          <form>
            <div class="form-group ion-red">
              <label for="tip">Rekomendacje bezpośrednie</label>
              <ionslider ng-model="model.tip" options="tipOptions"></ionslider>
            </div>
          </form>
        </div>
        <!--<div class="col-xs-12 col-lg-3">-->
          <!--<div class="form-group">-->
            <!--<div class="input-group slider-input">-->
              <!--<input id="tip" type="text" class="form-control pull-right" ng-model="model.tip"/>-->
              <!--<div class="input-group-addon"><i class="fa fa-users"></i></div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="row slider-row" tour-step order="4" title="" content="" placement="bottom">
        <div class="col-xs-12 col-lg-12">
          <form>
            <div class="form-group ion-red">
              <label for="bonus">Premia</label>
              <ionslider ng-model="model.bonus" options="bonusOptions"></ionslider>
            </div>
          </form>
        </div>
        <!--<div class="col-xs-12 col-lg-3">-->
          <!--<div class="form-group">-->
            <!--<div class="input-group slider-input">-->
              <!--<input id="bonus" type="text" class="form-control pull-right" ng-model="model.bonus"/>-->
              <!--<div class="input-group-addon">%</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <div class="row slider-row" tour-step order="5" title="" content="" placement="bottom">
    <div class="col-xs-12">
      <form>
        <div class="form-group ion-red">
          <label for="levels">{{model.levels, plural,
            =1 {Uprawnienia do premii z {{model.levels}} poziomu}
            other {Uprawnienia do premii z {{model.levels}} poziomów}
            }}</label>
          <ionslider ng-model="model.levels" options="levelsOptions"></ionslider>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div levels ng-if="model.tip > 0"></div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>&#169; Retiso {{date | date:'yyyy'}}
  </div>
</footer>
